section(ref="categories").section.last-section.category-section  
  .section__top
    h2.short-title.section__title Shop by category
    a(href="").section__anchor.section__top-anchor View all
  ul(aria-label="product list").product-list.section__product-list
    li.product-list__list-item.product-item
      a.bestsellers-catalog__anchor(href="catalog.html")
        img(src="img/categ1.jpg", alt="").product-item__img
      p.product-item__name Jeans
    li.product-list__list-item.product-item
      a.bestsellers-catalog__anchor(href="catalog.html")
        img(src="img/categ2.jpg", alt="").product-item__img
      p.product-item__name Shorts
    li.product-list__list-item.product-item
      a.bestsellers-catalog__anchor(href="catalog.html")
        img(src="img/categ3.jpg", alt="").product-item__img
      p.product-item__name Jacket
    li.product-list__list-item.product-item
      a.bestsellers-catalog__anchor(href="catalog.html")
        img(src="img/categ4.jpg", alt="").product-item__img
      p.product-item__name Overalls
    .section__bottom
      a(href="").section__anchor View all