footer.page-footer
  a(href="").logo.footer__logo.logo--white Nîmes
  nav.footer__nav
    ul.footer__navigation-list
      li.footer__navigation-item
        a.footer__navigation-anchor(href="") Shop
      li.footer__navigation-item
        a.footer__navigation-anchor(href="") Delivery
      li.footer__navigation-item
        a.footer__navigation-anchor(href="") Service
      li.footer__navigation-item
        a.footer__navigation-anchor(href="map.html") Sitemap
      li.footer__navigation-item
        a.footer__navigation-anchor(href="") Contacts
  .socials.footer__socials
    ul.footer__socials-list
      li.footer__socials-item
        a(href="")
          img.foote__social-icon(src="img/icons/fb.svg", alt="facebook" aria-label="facebook")
      li.footer__socials-item
        a(href="")
          img.foote__social-icon(src="img/icons/inst.svg", alt="instagram" aria-label="instagram")
      li.footer__socials-item
        a(href="")
          img.foote__social-icon(src="img/icons/pin.svg", alt="pinterest" aria-label="pinterest")
      li.footer__socials-item
        a(href="")
          img.foote__social-icon(src="img/icons/twitter.svg", alt="twitter" aria-label="twitter")