section.last-section
  .load-more-wraper
    p.load-status Showing 9 of 45 items
    .load-status__bar-wraper
      span.load-status__full-bar
      span.load-status__current-bar
    button.button.load-more__button Load more