header.main-header
  .header-top
    p.logo.main-header__logo.logo--black  Nimes
  .header-bottom
    .container
      .header-bottom__inner
        nav.header-bottom__nav.header-navigation
          ul.header-navigation__list
            li.header-navigation__list-item
              a.header-navigation__anchor(href="") Woman
              a.header-navigation__anchor(href="") Man
              a.header-navigation__anchor(href="") New
          .header-navigation__right
            .search.header-navigation__search
            .cart.header-navigation__cart
          .header-navigation__to-bottom
          ul.header-navigation__socials
            li.header-navigation__social-item
              a.header-navigation__social-link(href="") facebook
            li.header-navigation__social-item
              a.header-navigation__social-link(href="") instagram
        .base-info
          p.base-info__tagline The quality you deserve
          p.base-info__name DENIM
          button(type="button").button.base-info__button Check new collection
        .img-container.header-bottom__img-container
          img.img-container__top-img(src="", alt="")
          img.img-container__bottom-img(src="", alt="")
          img.img-container__main-img(src="", alt="")
          