ul.products-catalog
  li.product-item.products-catalog__item
    a.product-item__anchor(href="product.html")
      img(src="img/products/15.png", width="243", height="270", alt="").product-item__img
      p.product-item__name Jacket
      p.product-item__price $ 120
  li.product-item.products-catalog__item
    a.product-item__anchor(href="product.html")
      img(src="img/products/11.png", width="243", height="270", alt="").product-item__img
      p.product-item__name Jacket
      p.product-item__price $ 120
  li.product-item.products-catalog__item
    a.product-item__anchor(href="product.html")
      img(src="img/products/13.png", width="243", height="270", alt="").product-item__img
      p.product-item__name Jacket
      p.product-item__price $ 120
  li.product-item.products-catalog__item
    a.product-item__anchor(href="product.html")
      img(src="img/products/1.png", width="243", height="270", alt="").product-item__img
      p.product-item__name Jacket
      p.product-item__price $ 120
  li.product-item.products-catalog__item
    a.product-item__anchor(href="product.html")
      img(src="img/products/3.png", width="243", height="270", alt="").product-item__img
      p.product-item__name Jacket
      p.product-item__price $ 120
  li.product-item.products-catalog__item
    a.product-item__anchor(href="product.html")
      img(src="img/products/4.png", width="243", height="270", alt="").product-item__img
      p.product-item__name Jacket
      p.product-item__price $ 120
  li.product-item.product-item--big.products-catalog__item
    a.product-item__anchor(href="product.html")
      img(src="img/products/8-2.png", width="552", height="670", alt="").product-item__img
      p.product-item__name Jacket
      p.product-item__price $ 120
  li.product-item.products-catalog__item
    a.product-item__anchor(href="product.html")
      img(src="img/products/9.png", width="243", height="270", alt="").product-item__img
      p.product-item__name Jacket
      p.product-item__price $ 120
  li.product-item.products-catalog__item
    a.product-item__anchor(href="product.html")
      img(src="img/products/11.png", width="243", height="270", alt="").product-item__img
      p.product-item__name Jacket
      p.product-item__price $ 120


