section.section.last-section
  .section__top
    h2.short-title.section__title You may also like
    a(href="").section__anchor.section__top-anchor View all
  ul.product-list.section__product-list
    li.product-list__list-item.product-item
      a.product-item__anchor(href="")
        img(src="img/3.jpg", alt="").product-item__img
        p.product-item__name Jacket
        p.product-item__price $ 120
    li.product-list__list-item.product__item
      a.product-item__anchor(href="")
        img(src="img/2.jpg", alt="").product-item__img
        p.product-item__name Overalls
        p.product-item__price $ 140
    li.product-list__list-item.product__item
      a.product-item__anchor(href="")
        img(src="img/1.jpg", alt="").product-item__img
        p.product-item__name Jacket
        p.product-item__price $ 116
    li.product-list__list-item.product__item
      a.product-item__anchor(href="")
        img(src="img/4.jpg", alt="").product-item__img
        p.product-item__name Overalls
        p.product-item__price $ 130
  .section__bottom
    a(href="").section__anchor View all