section.section
  .season-offer
    img(src="img/5.jpg", width="700", height="370", alt="").season-offer__img
    .season-offer__right
      .season-offer__inner
        p.short-description.season-offer__description Street fashion collection
        h2.short-title.season-offer__title Fall 2019
        button(type="button").button Shop now
