.product-card {
  margin-top: 122px;
  display: flex;
}

.gallery {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
}

.gallery__arrow-left {
  width: 10%;
  height: 40px;
  margin-top: -15%;
  background: url("../img/icons/arrowleft.svg") no-repeat;
  background-position: center left;
  background-size: 10px 21px;
  &:hover {
    transform: scale(1.1);
  }
}

.gallery__arow-right {
  width: 10%;
  height: 40px;
  margin-top: -15%;
  background: url("../img/icons/arrowright.svg") no-repeat;
  background-position: center right;
  background-size: 10px 21px;
  &:hover {
    transform: scale(1.1);
  }
}

.gallery__main-inner {
  width: 80%;
}

// gallery
.gallery__main-img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery__thumbnails {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.gallery__thumbnail {
  display: block;
  flex-grow: 1;
  margin-right: 20px;
  margin-top: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.gallery__thumbnail-img {
  width: 100%;
  height: auto;
  display: block;
}

// product info

.product-info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 70px;
  background-color: $background-grey;
}

.product-info::after {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  content: "";
  width: 50%;
  display: block;
  background-color: $background-grey;
}

.product-info__colors-list-item {
  margin-right: 20px;
  border: 1px solid $background-grey;
}

.sizes-list {
  display: flex;
}

.sizes-list__item {
  margin-right: 20px;
  color: $grey;
  cursor: pointer;
}

.sizes-list__item--active {
  color: $black;
}

.product-info__colors-list {
  margin-top: 25px;
}

.product-info__sizes-list {
  margin-top: 25px;
}

.product-info__option-title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  color: $black;
}

.description {
  font-weight: normal;
  font-size: 16px;
  color: $black;
  margin-top: 20px;
}

.product-info__price {
  font-weight: bold;
  font-size: 18px;
  color: $black;
  margin: 30px 0;
}

@media (max-width: 1366px) {
}
@media (max-width: 767px) {
  .product-card {
    display: block;
  }
  .gallery__thumbnails {
    display: none;
  }
  .gallery__main-inner {
    margin-bottom: 40px;
  }
  .gallery {
    padding-right: 0;
  }
  .product-info {
    padding-left: 0;
    padding-right: 0;
  }
  .product-info::after {
    left: -20%;
    width: 150%;
    z-index: -1;
  }
}