<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title navigation
    style a{display:block; margin: 20px;}
  body
    a(href="https://denimstore.netlify.com/" target="_blanc") Главная
    a(href="https://denimstore.netlify.com/catalog.html" target="_blanc") Каталог товаров
    a(href="https://denimstore.netlify.com/product.html" target="_blanc") Страница товара
    a(href="https://denimstore.netlify.com/cart.html" target="_blanc") Корзина
